<!--  Login form html Structure refered from Bootstrap site-->
<form id="login">
  <!-- Email Id Input-->
  <div class="form-group">
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="emailId@domail.com">
  </div>
  <!-- Password Input-->
  <div class="form-group">
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <!-- Login Button -->
  <button type="submit" class="btn btn-disable btn-block">Login</button>
</form>
